.banner {
    -fx-background-color: #ff6666;
    -fx-alignment: center;
    -fx-row-valignment: center;
}

.text {
    -fx-text-alignment: center;
    -fx-text-fill: white;
    -fx-font-size: 25px;
}
