/* muss an oberster Stelle stehen */
@font-face {
    /* font-family definiert den Namen der Font in der css */
    font-family: 'Wendy One';
    src: url('../fonts/WendyOne-Regular.ttf');
}

.root {
    -navbar: #EEEEA6;
    -side-nav: #632B30;
    -primary-buttons: #2274A5;

    /* color stacking for backgrounds*/
    -site-background: #FFF4D6;
    -first-background: #E6AF2E;
    -second-background: #E7EB90;
    -third-background: #FDFDFD;

    /* wir binden wendy one hier für alle Elemente ein */
    -fx-font-family: 'Wendy One';
}

.form {
    -fx-background-color: -side-nav;
    -fx-background-radius: 10;
}

.text_field {
    -fx-text-fill: -primary-buttons;
    -fx-font-size: 15px;
    -fx-padding: 5px;
    -fx-background-color: -third-background;
    /* background-insets sind für den horizontalen Margin zwischen den Elementen zuständig,
     weil es in JavaFX css nativ keinen horizontalen Margin gibt.*/
    -fx-background-insets: 0;
    -fx-max-width: 400;
}

.login_register_title {
    -fx-pref-height: 2em;
    -fx-pref-width: 15em;
    -fx-translate-y: -1em;
    -fx-background-radius: 2;
    -fx-font-size: 25;
    -fx-padding: 10;
    -fx-background-color: -first-background;
    -fx-text-fill: white;
}

.submit_button {
    -fx-padding: 40;
    -fx-background-color: -primary-buttons;
    -fx-text-fill: white;
    -fx-pref-width: 15em;
    -fx-font-size: 20px;
    -fx-alignment: center;
    -fx-background-insets: 30;
    -fx-cursor: hand;
}