* {
    -navbar: #EEEEA6;
    -side-nav: #632B30;
    -primary-buttons: #2274A5;

    /* color stacking for backgrounds*/
    -site-background: #FFF4D6;
    -first-background: #E6AF2E;
    -second-background: #E7EB90;
    -third-background: #FDFDFD;
}

.container {
    /* to be fixed -fx-background-color: -site-background;*/
}

.form {
    -fx-background-color: -side-nav;
    -fx-background-radius: 10;
}

.title {
    -fx-background-radius: 2;
    -fx-font-size: 25;
    -fx-padding: 50;
    -fx-background-color: -first-background;
    -fx-text-fill: white;
    -fx-background-insets: 40px;
}

.text_field {
    -fx-text-fill: -primary-buttons;
    -fx-font-size: 15px;
    -fx-padding: 15px;
    -fx-background-color: -third-background;
    /* background-insets sind für den horizontalen Margin zwischen den Elementen zuständig,
     weil es in JavaFX css nativ keinen horizontalen Margin gibt.*/
    -fx-background-insets: 5 10 5 10;
    -fx-max-width: 400;
}

.small_text {
    -fx-font-size: 15;
    -fx-padding: 0 50 0 50;
    -fx-text-fill: -site-background;
    -fx-background-insets: 0 50 0 50;
    -fx-underline: true;
    -fx-cursor: hand;
}

.submit_button {
    -fx-padding: 40;
    -fx-background-color: -primary-buttons;
    -fx-text-fill: white;
    -fx-pref-width: 250;
    -fx-font-size: 20px;
    -fx-alignment: center;
    -fx-background-insets: 30;
    -fx-cursor: hand;
}

.banner-label {
    -fx-padding: 10;
    -fx-font-size: 15;
    -fx-background-insets: 30;
}

.page {
    -fx-background-color: "red";
}

