.navbar_container {
    -fx-background-color: -navbar;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 20, 0.5, 0.0, 0.0);
}

.navbar {
    -fx-background-color: -navbar;
}


.logoutButton {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-pref-height: 20px;
    -fx-pref-width: 200px;
    /* geht noch nicht */
    -fx-cursor: hand;
}