.stackpane_container {
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
}

.profile_title {
    -fx-text-fill: black;
    -fx-font-size: 30px;
}

.title_box {
    -fx-border-color: black;
    -fx-border-width: 0 0 2 0;
}

.textfield_label {
    -fx-font-size: 20px;
    -fx-text-fill: gray;
    -fx-padding: 0px 0px 0px 15px;
}

.y_padding {
    -fx-padding: 10px 0px 10px 0px;
    -fx-background-insets: 20px 0px 20px 0px;
}

.profile_pic {
    -fx-background-color: -primary-buttons;
    -fx-border-radius: 100px;
    -fx-stroke-width: 5px;
    -fx-border-color: -primary-buttons;
    -fx-stroke: white;
}

.button {
    -fx-padding: 13;
    -fx-background-color: -primary-buttons;
    -fx-text-fill: white;
    -fx-pref-width: 12em;
    -fx-font-size: 20px;
    -fx-background-insets: 3;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.gray {
    -fx-background-color: gray;
}